@import "../../constant";
@import "../../mixins";

$nav-height: 52px;

nav {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid $color-border;
  position: sticky;
  top: 0;
  z-index: 8; // header 가 9 고, header 보다는 낮아야한다.

  .inner {
    max-width: 1000px;
    height: $nav-height;
    display: flex;
    align-items: center;

    h1 {
      font-size: 22px;
      font-weight: 500;
      flex-grow: 1;
    }

    .menu {
      display: flex;
      gap: 12px;
      margin-right: 18px;

      li {
        a {
          display: block;
          padding: 6px;
          font-size: 11px;

          &:hover {
            color: $color-link;
          }
        }

        &.active a {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }
}

@include mobile {
  nav .shadow {
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: $color-shadow;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }

  nav.menuing .shadow {
    visibility: visible;
    opacity: 1;
  }

  nav .content-bg {
    position: absolute;
    inset: 0;
    height: $nav-height;
    border-bottom: 1px solid $color-border;
    background-color: $color-white;
    visibility: hidden;
    transition: 0.4s;
  }

  nav.menuing .content-bg {
    visibility: visible;
    height: 232px;
  }

  nav .inner .menu-toggle {
    width: 30px;
    height: 24px;
    //margin-top: 10px;
    cursor: pointer;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 12px;
      height: 1px;
      background-color: $color-font-darkgray;
      position: absolute;
      inset: 0;
      margin: auto;
      transition: 0.4s;
    }

    &::before {
      transform: rotate(40deg);
      right: 9px;
    }

    &::after {
      transform: rotate(-40deg);
      left: 9px;
    }
  }

  nav.menuing .inner .menu-toggle {
    &::before {
      transform: rotate(-40deg);
    }

    &::after {
      transform: rotate(40deg);
    }
  }

  nav .inner .menu {
    position: absolute;
    top: $nav-height;
    left: 0;
    width: 100%;
    padding: 10px 40px 30px;
    box-sizing: border-box;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
    transition: 0.4s;

    li {
      &:not(:last-child) {
        border-bottom: 1px solid $color-border;
      }

      a {
        padding: 16px 0;
        font-size: 14px;
      }
    }
  }

  nav.menuing .inner {
    .menu {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}
