@import "../../constant";

nav {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid $color-border;
  position: sticky;
  top: 0;
  z-index: 8; // header 가 9 고, header 보다는 낮아야한다.

  .inner {
    max-width: 1000px;
    height: 52px;
    display: flex;
    align-items: center;

    h1 {
      font-size: 22px;
      font-weight: 500;
      flex-grow: 1;
    }

    .menu {
      display: flex;
      gap: 12px;
      margin-right: 18px;

      li {
        a {
          display: block;
          padding: 6px;
          font-size: 11px;

          &:hover {
            color: $color-link;
          }
        }

        &.active a {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }
}
