<ul>
  <li><a href="javascript:void(0)">스토어</a></li>
  <li><a href="javascript:void(0)">Mac</a></li>
  <li><a href="javascript:void(0)">iPad</a></li>
  <li><a href="javascript:void(0)">iPhone</a></li>
  <li><a href="javascript:void(0)">Watch</a></li>
  <li><a href="javascript:void(0)">AirPods</a></li>
  <li><a href="javascript:void(0)">TV 및 홈</a></li>
  <li><a href="javascript:void(0)">Apple 독점 제공</a></li>
  <li><a href="javascript:void(0)">액세서리</a></li>
  <li><a href="javascript:void(0)">고객지원</a></li>
</ul>
