<li class="apple-logo"><a href="javascript:void(0)">스토어</a></li>
<li><a href="javascript:void(0)">Mac</a></li>
<li><a href="javascript:void(0)">iPad</a></li>
<li><a href="javascript:void(0)">iPhone</a></li>
<li><a href="javascript:void(0)">Watch</a></li>
<li><a href="javascript:void(0)">AirPods</a></li>
<li><a href="javascript:void(0)">TV 및 홈</a></li>
<li><a href="javascript:void(0)">Apple 독점 제공</a></li>
<li><a href="javascript:void(0)">액세서리</a></li>
<li><a href="javascript:void(0)">고객지원</a></li>
<li class="search-starter"><a href="javascript:void(0)">검색</a></li>
<li class="basket-starter">
  <a href="javascript:void(0)">장바구니</a>
  <div class="basket">
    <div class="arrow"></div>
    <div class="message">장바구니가 비어 있습니다.</div>
    <ul>
      <li><a href="javascript:void(0)">장바구니</a></li>
      <li><a href="javascript:void(0)">저장된 항목</a></li>
      <li><a href="javascript:void(0)">주문</a></li>
      <li><a href="javascript:void(0)">계정</a></li>
      <li><a href="javascript:void(0)">로그인</a></li>
    </ul>
  </div>
</li>
