<div class="search">
  <div class="shadow"></div>
  <div class="text-filed">
    <input type="text" placeholder="apple.com 검색" />
    <div class="icon search-icon"></div>
    <div class="icon search-closer"></div>
  </div>
  <div class="search-cancel">취소</div>
  <div class="autocompletes">
    <h3>빠른 링크</h3>
    <ul>
      <li>
        <a href="javascript:void(0)"
          >Apple Store 임시 휴무 관련 자주하는 질문</a
        >
      </li>
      <li><a href="javascript:void(0)">Apple Store Online에서 쇼핑하기</a></li>
      <li><a href="javascript:void(0)">액세서리</a></li>
      <li><a href="javascript:void(0)">AirPods</a></li>
      <li><a href="javascript:void(0)">AirTag</a></li>
    </ul>
  </div>
</div>
