@import "../../constant";
@import "../../mixins";

header {
  .inner .clone-menu {
    display: none;

    @include mobile {
      display: block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 103px;
      left: 0;
      //right: 0;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      transition: 0.4s;
      transform: translateY(-50px);

      ul {
        max-width: $mobile-header-max-width;

        li {
          &:not(:last-child) {
            border-bottom: 1px solid $color-header;
          }

          a {
            display: block;
            padding: 16px 0;
            font-size: 14px;
            color: $color-font-middlegray;

            &:hover {
              color: $color-white;
            }
          }
        }
      }
    }
  }

  &.menuing .inner .clone-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
