@import "../../constant";
@import "../../mixins";

@import "menu";
@import "searchWrap";
@import "cloneMenu";

header {
  background-color: $color-header;
  position: relative;
  z-index: 9;
  transition: 0.4s;

  .inner {
    max-width: 1020px;
  }

  @include tablet {
    .inner {
      padding: 0 10px;
    }
  }

  @include mobile {
    &::before {
      content: "";
      position: fixed;
      top: $header-height;
      left: 0;
      width: 100%;
      height: 0;
      background-color: $color-header;
      transition: 0.4s;
    }

    // mobile
    &.menuing {
      background-color: $color-black;

      &::before {
        height: 100vh;
        background-color: $color-black;
      }
    }
  }
}
