footer .inner .buy-info {
  padding: 76px 0;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  text-align: center;

  .icon {
    width: 56px;
    height: 56px;
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
  }

  p {
    margin-bottom: 12px;
    font-size: 12px;
  }

  a.link {
    font-size: 14px;
  }
}
