$default-text-color: #1d1d1d;

html.fixed {
  position: fixed;
  width: 100%;
  overflow-y: hidden;
}

body {
  font:
    400 normal 16px/1 "Roboto",
    "Noto Sans KR",
    sans-serif;
  word-break: keep-all;
  color: $default-text-color;
  height: 10000px;
}

.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

a {
  display: block;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  color: $default-text-color;
  text-decoration: none;
}

p {
  line-height: 1.6;
}

.disabled {
  pointer-events: none !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1;
  color: #fff;
  background-color: #0071e3;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    //outline: 4px solid #81b9f1; // 아래 box-shadow 와 시각적으로 동일하다.
    box-shadow: 0 0 0 4px #81b9f1;
  }
}

.bg-text {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Links */
.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

a.link {
  color: #0071e3;
  font-size: 19px;
  line-height: 1.3;

  &:hover {
    text-decoration: underline;
  }

  &::after {
    content: " >";
  }
}

/* Figures */
.figures {
  position: relative;

  figure,
  figcaption {
    position: absolute;
    top: 0;
    left: 0;

    * {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
