section.accessibility {
  margin: 266px 0 170px;

  h1 {
    width: 550px;
    height: 343px;
    background-image: url("../../../assets/images/accessories_headline.png");
  }

  .infos {
    margin-top: 20px;
  }

  .figures figure {
    transform: translate(470px, -620px);
  }
}
