section.accessory-shop {
  padding: 0;

  .white-box {
    padding-bottom: 0;
  }

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    margin-top: 50px;
  }
}
