section.apps {
  margin-top: 368px;

  h1 {
    width: 500px;
    height: 264px;
    background-image: url("../../../assets/images/apps_headline.png");
    transform: translate(17px, 0);
  }

  .infos {
    margin: 63px 0 0 82px;
  }

  .figures {
    display: flex;
    height: 768px;

    > div {
      flex-grow: 1;
      position: relative;
    }
  }
}

section.apps {
  .figure-masterclass {
    figure {
      transform: translate(578px, -431px);
    }

    figcaption {
      width: 100px;
      height: 25px;
      background-image: url("../../../assets/images/apps_masterclass_caption.png");
      transform: translate(26px, 690px);
    }
  }

  .figure-adobe {
    figure {
      transform: translate(-515px, 85px);
    }

    figcaption {
      width: 105px;
      height: 24px;
      background-image: url("../../../assets/images/apps_adobe_caption.png");
      transform: translate(544px, 514px);
    }
  }

  .figure-fantasian {
    figure {
      transform: translate(-103px, 318px);
    }

    figcaption {
      width: 74px;
      height: 22px;
      background-image: url("../../../assets/images/apps_fantasian_caption.png");
      transform: translate(24px, 483px);
    }
  }
}

section.apps {
  .figure-books {
    figure {
      transform: translate(-133px, -150px);
    }

    figcaption {
      width: 50px;
      height: 27px;
      background-image: url("../../../assets/images/apps_books_caption.png");
      transform: translate(397px, 707px);
    }
  }

  .figure-goodnotes {
    figure {
      transform: translate(-93px, 68px);
    }

    figcaption {
      width: 99px;
      height: 25px;
      background-image: url("../../../assets/images/apps_goodnotes_caption.png");
      transform: translate(24px, 690px);
    }
  }
}
