@import "../../constant";

section.camera {
  margin-top: 303px;
}

section.camera .stage {
  position: relative;

  h1 {
    width: 650px;
    height: 450px;
    background-image: url("../../../assets/images/camera_headline.png");
    transform: translate(-25px, 0);
  }

  .infos .info {
    position: absolute;
    top: 150px;
    right: 0;
  }

  .figures {
    height: 770px;
    margin-top: 24px;

    figure {
      transform: translate(90px, 0);
    }

    video {
      position: absolute;
      top: 36px;
      left: 76px;
      -webkit-mask-image: url("../../../assets/images/camera_video_mask.png");
      mask-image: url("../../../assets/images/camera_video_mask.png");
    }

    .controller--play,
    .controller--pause {
      color: $color-link;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      transform: translate(428px, -134px) rotate(-3deg);

      &:hover {
        text-decoration: underline;
      }

      &.hide {
        display: none;
      }

      img {
        width: 20px;
        margin-top: -2px;
      }
    }

    figcaption {
      width: 130px;
      height: 110px;
      background-image: url("../../../assets/images/camera_hardware_caption.png");
      transform: translate(-116px, 383px);
    }
  }
}

section.camera .edit {
  .figures {
    height: 910px;

    figure {
      transform: translate(20px, 0);
    }

    figcaption {
      width: 130px;
      height: 47px;
      background-image: url("../../../assets/images/camera_edit_caption.png");
      transform: translate(27px, 905px);
    }
  }
}
