@import "../../constant";
@import "../../mixins";

section.compare {
  @include mobile {
    .white-box {
      max-width: 430px;
    }
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    max-width: 940px;
    margin: 68px auto 74px;

    @include tablet {
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      max-width: 500px;
      margin-bottom: 34px;
    }
    @include mobile {
      grid-template-columns: 100%;
    }
  }

  .items .item {
    flex-grow: 1;
    width: 190px;
    padding-bottom: 34px;
    border-bottom: 1px solid $color-border;

    @include mobile {
      border-bottom: none;
    }

    .thumbnail {
      height: 214px;
      margin-bottom: 22px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    ul.colors {
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      gap: 6px;

      li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: none;
        outline: none;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
      }
    }

    h3.name {
      margin-bottom: 4px;
      font-size: 22px;
    }

    .tagline {
      margin-bottom: 20px;
      font-size: 16px;
    }

    .price {
      margin-bottom: 10px;
      font-size: 14px;
    }

    .btn {
      margin: 0 auto 14px;
    }

    a.link {
      font-size: 14px;

      @include mobile {
        margin-top: 0;
      }
    }
  }

  @include mobile {
    .links {
      padding-top: 40px;
      border-top: 1px solid $color-border;
    }
  }
}
