@import "../../constant";

section.hero {
  background-color: $color-section;

  .inner {
    padding-bottom: 110px;
  }
}

section.hero {
  h1 {
    width: 221px;
    height: 91px;
    background-image: url("../../../assets/images/hero_ipad_text.png");
    position: absolute;
    transform: translate(624px, 235px);
    z-index: 1;
  }

  .figures {
    height: 808px; // figure image height

    figure {
      transform: translate(74px, -64px);

      img {
      }

      figcaption {
        .caption-camera {
          width: 120px;
          height: 84px;
          background-image: url("../../../assets/images/hero_ipad_caption_camera.png");
          transform: translate(43px, 580px);
        }
        .caption-chip {
          width: 95px;
          height: 43px;
          background-image: url("../../../assets/images/hero_ipad_caption_chip.png");
          transform: translate(589px, 510px);
        }
        .caption-storage {
          width: 80px;
          height: 43px;
          background-image: url("../../../assets/images/hero_ipad_caption_storage.png");
          transform: translate(627px, 631px);
        }
      }
    }
  }
}

section.hero {
  h2 {
    width: 735px;
    height: 145px;
    margin: 0 auto;
    background-image: url("../../../assets/images/hero_headline.png");
  }

  p.pricing {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  p.description {
    width: 88%; /* br 을 사용하지 않고 원하는 위치에서 줄바꿈 처리 */
    margin: 18px auto 0;
    font-size: 19px;
    text-align: center;
  }

  .links {
    margin-top: 30px;
    a {
    }
  }
}
