@import "../../constant";

.power {
  margin-top: 110px;
}

.power .multiple-apps {
  h1 {
    width: 500px;
    height: 280px;
    background-image: url("../../../assets/images/power_headline.png");
    transform: translate(104px, 0);
  }

  .figures {
    height: 773px; // figure image height

    figcaption {
      width: 138px;
      height: 46px;
      background-image: url("../../../assets/images/power_multiple_apps_caption.png");
      transform: translate(703px, -47px);
    }
  }
}

.power .arcade {
  margin-top: 55px;

  .figures {
    height: 600px;

    figure {
      transform: translate(-347px, -90px);
    }

    figcaption {
      width: 150px;
      height: 77px;
      background-image: url("../../../assets/images/power_arcade_caption.png");
      transform: translate(483px, 653px);
    }
  }
}

.power .create {
  margin-top: 55px;

  .figures {
    height: 772px;

    figure {
      transform: translate(-25px, 50px);
    }

    figcaption {
      width: 142px;
      height: 46px;
      background-image: url("../../../assets/images/power_create_caption.png");
      transform: translate(543px, 908px);
    }
  }
}
