section.privacy {
  margin-top: 238px;

  h1 {
    width: 482px;
    height: 237px;
    background-image: url("../../../assets/images/privacy_headline.png");
    margin-left: auto;
    position: relative;
    z-index: 1;
    transform: translateX(57px);
  }

  .infos {
    margin-top: 38px;
    align-items: flex-end;
    position: relative;
    z-index: 1;
  }

  .figures {
    figure {
      transform: translate(-215px, -500px);
    }

    figcaption {
      .caption-apple-id {
        width: 170px;
        height: 26px;
        background-image: url("../../../assets/images/privacy_caption_apple_id.png");
        transform: translate(195px, -13px);
      }

      .caption-touch-id {
        width: 150px;
        height: 31px;
        background-image: url("../../../assets/images/privacy_caption_touch_id.png");
        transform: translate(533px, 485px);
      }
    }
  }
}
