@import "../../mixins";

section.privacy {
  margin-top: 238px;

  @include tablet {
    margin-top: 120px;
  }

  h1 {
    width: 482px;
    height: 237px;
    background-image: url("../../../assets/images/privacy_headline.png");
    margin-left: auto;
    position: relative;
    z-index: 1;
    transform: translateX(57px);

    @include tablet {
      width: 368px;
      height: 182px;
      transform: translateX(70px);
    }
    @include mobile {
      width: 277px;
      height: 136px;
      transform: none;
      margin: 0 auto;
    }
  }

  .infos {
    margin-top: 38px;
    align-items: flex-end;
    position: relative;
    z-index: 1;

    @include tablet {
      margin-top: 24px;
    }
  }

  .figures {
    @include mobile {
      margin-top: 30px;
    }

    figure {
      transform: translate(-215px, -500px);

      @include tablet {
        transform: translate(-18px, -440px);
      }
      @include mobile {
        transform: translate(20px, 0);
      }

      img {
        @include tablet {
          width: 441px;
        }
      }
    }

    figcaption {
      .caption-apple-id {
        width: 170px;
        height: 26px;
        background-image: url("../../../assets/images/privacy_caption_apple_id.png");
        transform: translate(195px, -13px);

        @include tablet {
          transform: scale(0.8) translate(-22px, -18px);
        }
      }

      .caption-touch-id {
        width: 150px;
        height: 31px;
        background-image: url("../../../assets/images/privacy_caption_touch_id.png");
        transform: translate(533px, 485px);

        @include tablet {
          transform: scale(0.8) translate(293px, 339px);
        }
      }
    }
  }
}
