@import "../constant";

@import "menu";
@import "searchWrap";
@import "searching";

header {
  background-color: $color-header;
  position: relative;
  z-index: 9;

  .inner {
    max-width: 1020px;
  }
}
