header {
  background-color: #3a3a3a;

  .inner {
    max-width: 1020px;
    margin: 0 auto;

    ul.menu {
      display: flex;
      height: 44px;
      justify-content: space-between;

      li {
        display: flex;

        a {
          padding: 0 10px;
          font-size: 11px;
          display: flex;
          align-items: center;
          color: #f5f5f5;
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
